// Pastel / 淡色系 菜单样式（适用于微信小程序 - 使用 rpx 单位）
// 保存为 menu_template.scss 并在组件样式中引入或复制到全局样式表

$bg: #f9fbfb;


// 通用容器
.menu {
  background: $bg;
  min-height: 100%;
  padding: 20rpx 18rpx 25rpx;
  box-sizing: border-box;
  align-items: stretch;
}


